@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::-webkit-scrollbar-track {
  background-color: #8385876d;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #054cffdc;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1783db;
  cursor: pointer;
}
